body {
  background-color: #000000;
  font-family: "Courier New", "Courier New", monospace;
}

/* used MAINLY for INDEX */
#all {
  width: 1500px;
  height: 700px;
  margin: auto;
}

#header {
  position: relative;
  display: flex;
  height: 85px;
  padding: 5px;
  overflow: hidden; 
}

#headerbox {
  position: relative;
  background-image: url(img/bg/majin.png);
  height: auto;
  width: 65%;
  border: 2px solid red;
  padding: 5px;
  margin-right: 5px;
}

#container {
  position: relative;
  height: 650px;
}
#mainstuff {
  position: relative;
  height: 650px;
  display: flex;
}
#center {
  position: relative;
  height: 100%;
  width: 100%;
}
#leftside {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 90%;
  width: 20%;
  border: 2px solid red;
  padding: 5px;
  margin-right: 5px;
}

#chatbox {
    position: absolute;
    bottom: 0;
}

#rightside {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 50%;
  width: 10%;
  display: flex;
  border: 2px solid red;
  padding: 5px;
  margin-left: 5px;
}

#toprow {
  position: relative;
  background-color: rgb(0, 0, 0);
  height: 45%;
  display: flex;
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 10px;
}

#maintext {
  position: relative;
  background-image: url(img/bg/sonicbg.png);
  height: auto;
  width: 60%;
  padding: 5px;
   border: 2px solid rgb(76, 0, 0);
  margin-right: 5px;
  overflow: auto;
}
#bonus {
  position: relative;
  height: auto;
  width: 40%;
  padding: 5px;
  border: 2px solid rgb(76, 0, 0);
  margin-right: 5px;
  overflow: auto;
}
#phone {
  position: relative;
  height: auto;
  width: 40%;
  padding: 5px;
  border: 2px solid rgb(76, 0, 0);
}
#phonebubble {
  position: relative;
  height: 60%;
  width: auto;
  padding: 5px;
  border: 2px solid rgb(255, 0, 0);
  overflow-y: auto;
}
#phoneimage {
position: absolute;
bottom: 0;
right: 0;
  width: auto;
}
#bottomrow {
  position: relative;
  height: 300px;
  display: flex;
}

#ROOM {
  background-image: url('img/bg/Untitled.GIF');
  background-repeat:repeat;
  background-size: contain;
  image-rendering: pixelated;
  border: 2px solid rgb(76, 0, 0);
  height: 100%;
  width: 100%;
}

#tvclick {
  position: absolute;
  height: 70px;
  width: 100px;
  top: 95px;
  right: 510px;
}

#catclick {
  position: absolute;
  height: 70px;
  width: 130px;
  top: 150px;
  right: 250px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.image1 {
  position: absolute;
  bottom: 40px;
  right: 450px;
  width: 123px;
  height: 80px;
  margin: 0px;
background-image: url('img/room/eyefunny.gif');
background-repeat: no-repeat;
background-size: 123px 80px;
}

.image1:hover {
background-image: url('img/room/eyehover.gif');
        }

.image2 {
  width: 100%;
  height: 100%;
}

#footer {

}

#statuscafe {
  padding: 0.5em;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}
#statuscafe-username {
  margin-bottom: 0.5em;
  color: aliceblue;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
  color: aliceblue;
}

p {
  color: aliceblue;
}
h2 {
  color: rgb(206, 0, 0);
}
span {
  background-color: black;
}

img {
    image-rendering: pixelated;
}

marquee {
  color: whitesmoke;
}